.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
}



.layout-footer {
  background-color: #1f8443;
  color: #ffffff;
  text-align: center;
  padding: 16px 0;
}